# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
linux/flutter/ephemeral/
windows/flutter/ephemeral/
macos/Flutter/ephemeral/

# IDEs
.idea/
.vscode/
*.iml

# Logs
*.log
logs/
build_log.txt
build_web_log.txt
deploy_log.txt
erros_build.txt

# Backups
BACKUP_*.dart
*_backup.dart

# Firebase
firebase-debug.log
*.secret.json
*.serviceAccount.json

# System files
.DS_Store
Thumbs.db
